@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-color: #fafafa;   
    height: 100vh;
    margin: 0px;
    transition: background-color 0.2s linear;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

body.dark{
    background: #232c35;
}

.checkbox{
    position: absolute;
    opacity: 0;
    transform: translateY(-20px);
   
}

#cor{
   padding: 15px;
}

.label{
    background: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height:26px;
    width: 50px;

    transform: scale(1.5);
}

.ball{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 22px;
    width: 22px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .ball{
    transform: translateX(24px);
}

.fa-moon{
    color: #f1c40f;
}

.fa-sun{
    color: #f39c12;
}

header{
    position: sticky;
    top: 0px;
    background-color: lightgray;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.367);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header > h1{
    text-align: center;
    font-family: 'Playfair Display', serif;;
}

div#imagem{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#apresentacao{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-bottom: 1px solid white;
    
}


#burguer{
    position: absolute;
    top: 1.5%;
    left: 0%;
    cursor: pointer;
  
    
    
}

#burguer:hover{
    background-color: #232c3535;
    border-radius: 8px;
    box-sizing: border-box;

}


#searche{
    position: absolute;
    top: 3%;
    left: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}



#itens{
    position: relative;
    display: none;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    background-color: rgb(13, 57, 57);
    transform: translateY(0px);
    color: white;
  
}






#pesquisa{
   display: none;
   position: absolute;
   top:3%;
   left:88%;
   transform: translate(-50%, -50%);
}

input#isc{
    border: 1px solid rgba(0, 0, 0, 0.259);
    border-radius: 10px;
   height: 20px;
}