@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background: var(--color-background);   
    height: 100vh;
    margin: 0px;
    transition: background-color 0.2s linear;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-white: #fff;
    --color-primary: #4d75dc;
  
    --color-positive: #43AE88;
    --color-negative: #E15D5A;
  
    --color-info-light: #f6f6f9;
    --color-dark: #363949;
    --color-dark-hover: #AAAAB3;
  
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #dce1eb;
    --color-background-variant: #dedcdc;
  
    --box-shadow: 0 2rem 3rem var(--color-light);
  }

.dark-theme-variables{
    --color-primary: #7380ec;
    --color-info-light: #292f32;
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}   





#cor{
   padding: 15px;
}

.switch-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    width: 100%;
    max-width: fit-content;
  
    border-radius: 5rem;
    background: var(--color-background-variant);
  
    margin-right: 5rem;
  
    cursor: pointer
  }

  .switch-toggle span:hover {
    opacity: .6;
    background: var(--color-dark);
    color: var(--color-white);
    border-radius: 5rem;
  }
  
  .switch-toggle span {
    padding: .25rem;
    font-size: 1.1rem;
  
    transition: all .3s ease-in-out;
  }
  
  .switch-actived {
    background: var(--color-primary);
    border-radius: 5rem;
    color: #fff;
  }
  

header{
    position: sticky;
    top: 0px;
    background-color: lightgray;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.367);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header > h1{
    text-align: center;
    font-family: 'Playfair Display', serif;;
}

div#imagem{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#apresentacao{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-bottom: 1px solid white;
    
}


#burguer{
    position: absolute;
    top: 1.5%;
    left: 0%;
    cursor: pointer;
  
    
    
}

#burguer:hover{
    background-color: #232c3535;
    border-radius: 8px;
    box-sizing: border-box;

}


#searche{
    position: absolute;
    top: 3%;
    left:98%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}



#itens{
    position: absolute;
    display: none;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    background-color: rgb(13, 57, 57);
    transform: translateY(0px);
    color: white;
  
}






#pesquisa{
   display: none;
   position: absolute;
   top:3%;
   left:85%;
   transform: translate(-50%, -50%);
}

input#isc{
    border: 1px solid rgba(0, 0, 0, 0.259);
    border-radius: 10px;
   height: 20px;
}

main{
    background-color: white;
    margin: 0px 50px;
}

section#blue{
    
    background-color: #091827;
    color: white;
    height: 400px;
    margin-bottom: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}



 h1#txt1{
    display: block;
    margin: 20px 30px;
    text-indent: 10px;
    width: 300px;
}

div#escrita {
    display: flex;
    flex-direction: row;
}


div#escrita > p{
    display: flex;
    flex-direction: row;
    margin: 20px 30px;
    text-indent: 10px;
    width: 300px;
}




div#escrita > img {
    margin: 0px 20px;
    width: 368px;
    height: 248px;
}



.container{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 500px;
    width: 600px;
    overflow: hidden;
    margin-bottom: 50px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

.container .pdiv .sdiv{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;


}

.container .pdiv .sdiv .tdiv{
    flex: 1 1 350px;
    animation: slideContent  1s linear 1s backwards;

}





@keyframes slideContent{0%

    {
        opacity: 0%;
        transform: translateX(-50px);
    }

}




.container .pdiv .sdiv .tdiv > h3{
    color: white;

}


.container .pdiv .sdiv .tdiv > p{
    color: white;
}

.container .pdiv .sdiv .tdiv > a{
    text-decoration: none;
    color: white;
    border: 1px solid #67e3df ;
    background-color: #285756;
    border-radius: 40px;
    
}

.container .pdiv .sdiv .tdiv > a:hover{
    background-color: #0b1d1c;
}


.container .pdiv {
    display: none;
}


.container .pdiv.active{
    display: block;
}



.container .pdiv:nth-child(1) .sdiv{
    background: url(imagens/have.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}



.container .pdiv:nth-child(2) .sdiv{
    background: url(imagens/ct.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}





.container .pdiv:nth-child(3) .sdiv{
    background: url(imagens/pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}



 .container #prev, .container #next{

    display: block;
    color: white;
    background: #890873;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 30px;
}





.container #prev:hover, 
.container #next:hover{
    background-color: #cc34b3;

}









footer{
    position: relative;
    background-color:#1E1E1E ;
    height: 500px;
    color: white;
}

footer > h1 {
    margin: 10px 20px;

}


div#logos{
    display: flex;
    flex-direction: row;
    
}

div#logos > a > img{
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(0, 0, 0.400);
    box-sizing: border-box;
    color: white;
}


form > div.campo{
    display: block;
   overflow: hidden;
    
    height: 60px;
    border-radius: 8px;
    margin: 7px 0px;
   
}

div.campo > span{
    color: white;
   
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
   
    background-color:#49a09d;
    font-size: 1em;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    width: calc(40% - 60px);
    transform: translateY(-7px);
    }

div.campos > label{
    display: none;
}

form > input[type=submit]{
    position: absolute;
    top: 54%;
    left: 64%;
    transform: translate(-50%, -50%);
    
    
    display: block;
    font-size: 1em;
    width: 100px;
    height: 40px;
    background-color:#49a09d ;
    color: white;
    border: none;    
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color:#285756 ;

}

form > a.botao{
    position: absolute;
    top: 53.3%;
    left: 27%;
    transform: translate(-50%, -50%);



    display: block;
    text-align: center;
    font-size: 1em;
    width: 250px;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid #49a09d ;
    color: #285756 ;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: #67e3df ;
}

form > textarea {
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 300px;
    border-radius: 8px;
}